body {
	background: #ffe3b4;
	padding: 10px;
	margin: 0;
	text-align: center;
}
p {
	padding: 30px;
	font-size: 25px;
}
.left{
	align:left;
}
.right{
	align:right;
}
#titl{
	color:#964b23;
}
a{
	font-size: 25px;
	border-radius: 20px;
	background-color: #b7a381;
	color: #421b0b;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	line-height: 2;
}
a:hover {
	background-color: #555;
}
.obr_connect{
	font-size: 20px;
	padding: 2px;
	margin: 2px;
	text-decoration: none;
	line-height: 1;
	display: inline-block;
	border-radius: 20px;
	background-color: #828185;
	color: #ffffff;
}
.obr_connect:hover{
	background-color: #404040;
}
.container-1 input#search{
	width: 300px;
	height: 50px;
	background: #white;
	border: none;
	font-size: 20px;
	float: center;
	color: #000;
	margin:10px;
	padding-left: 45px;
	border-radius: 9px;
}
button.button19 {
	font-size: 15px;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
  margin:10px;
} 
.button19:hover {
  background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}
.button19:active {
  background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  box-shadow:
   0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
footer {
	font-size: 1.1rem;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: black; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    background: rgba(255,255,255,.86); /* Цвет фона */
	text-align: center;
   }
